@import './base.css';

::selection {
    background-color: white;
    color: black;
}

/* --------------------------- section --------------------------- */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: black;
    color: white;
}

/* --------------------------- icon --------------------------- */

img {
    height: 60px;
    width: 60px;
    margin-bottom: 40px;
}

/* --------------------------- field --------------------------- */

.connect-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connect-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
}

.connect-label {
    margin-bottom: 8px;
}

.connect-input {
    height: 28px;
    border-radius: 12px;
    border: 3px solid #000;
    outline: none;
    margin-bottom: 20px;
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* --------------------------- button --------------------------- */

button {
    margin-top: 20px;
    height: 28px;
    width: 120px;
    border-radius: 12px;
    border: 3px solid #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: white;
    color: black;
}

button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.connect-error {
    color: #FF6666;
    font-weight: 500;
    display: none;
}